<main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
    <div class="container mx-auto px-6 py-8">
        <h3 class="text-gray-700 text-3xl font-medium">Dashboard</h3>

        {{!-- last score, total scrore, add question, take a qiz section beggining --}}
        <div class="mt-4">
            <div class="flex flex-wrap -mx-6">
                <div class="w-full px-6 sm:w-1/2 xl:w-1/4">
                    <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-green-300">
                        <img class="h-18 text-white"
                            src="https://www.svgrepo.com/show/324119/exam-test-checklist-online-learning-education-online-document.svg">
                        <div class="mx-5">
                            <h5 id="last-result" class="text-2xl font-semibold text-gray-700">
                                Historical Data
                            </h5>
                            <div class="text-gray-500"></div>
                        </div>
                    </div>
                </div>
                <div class="w-full px-6 sm:w-1/2 xl:w-1/4">
                    <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-indigo-300">
                        <img class="h-18 text-white"
                            src="https://www.svgrepo.com/show/324120/graduation-education-cap-mortarboard-graduate.svg">
                        <div class="mx-5">
                            <h4 id="total-result" class="text-2xl font-semibold text-gray-700"> CHP Data</h4>
                            <div class="text-gray-500"></div>
                        </div>
                    </div>
                </div>
                <div class="w-full px-6 sm:w-1/2 xl:w-1/4">
                    <a href="/dashboard/question"
                        class="flex items-center px-5 py-6 shadow-sm rounded-md bg-pink-300 hover:bg-pink-400">
                        <img class="h-18 text-white"
                            src="https://www.svgrepo.com/show/324113/writing-education-learning-pencil-note-write-notebook.svg">
                        <div class="mx-5">
                            <h4 class="text-2xl font-semibold text-gray-700">Add CHP</h4>

                        </div>
                    </a>
                </div>
                <div class="w-full px-6 sm:w-1/2 xl:w-1/4 ">
                    <a href="/dashboard/question" class="flex items-center px-5 py-6 shadow-sm rounded-md bg-blue-300 hover:bg-blue-400">
                        <img class="h-18 text-white"
                            src="https://www.svgrepo.com/show/324109/training-elearning-education-tablet-online-electronics.svg">
                        <div class="mx-5">
                            <h4 class="text-2xl font-semibold text-gray-700">Add HD</h4>

                        </div>
                    </a>
                </div>

                {{!-- last score, total scrore, add question, take a qiz section end --}}

            </div>
        </div>

        <div class="flex-col  rounded-md mx-auto   mt-8 p-4 bg-white   shadow-md">

            <div class="bg-white font-family-karla ">
                <div class="w-full text-center">
                    <h2>Historical Data Report</h2>
                </div>
                {{!-- show chart --}}
                <div id="table" class=" flex  items-center  m-4 mx-auto sm:w-full ">
                <div class="container">
	<h1 class="mb-8">

  </h1>

	<table class="text-left w-full ">
		<thead class="bg-black flex text-white w-full">
			<tr class="flex w-full mb-4">
				<th class="p-4 w-52" >City</th>
				<th class="p-4 w-52">County</th>
				<th class="p-4 w-24">2017</th>
				<th class="p-4 w-24">2018</th>
                <th class="p-4 w-24">2019</th>
                <th class="p-4 w-24">2020</th>
                <th class="p-4 w-24">2021</th>
			</tr>
		</thead>
    <!-- Remove the nasty inline CSS fixed height on production and replace it with a CSS class — this is just for demonstration purposes! -->
		<tbody id ="tbody" class="bg-grey-light flex flex-col items-center justify-between overflow-y-scroll w-full" style="height: 50vh;">
		
			
		</tbody>
	</table>
</div>
                
                  
     
                </div>
            </div>
        </div>


        {{!-- profile section --}}
        <div class="w-full text-center mt-4 ">
            <h1>Profile Information</h1>
            <div class="flex items-center justify-center pt-10 flex-col">
                <img src="https://media.istockphoto.com/vectors/male-default-avatar-profile-icon-man-face-silhouette-person-vector-vector-id1223477625?b=1&k=20&m=1223477625&s=612x612&w=0&h=KVyP-ycbPbyeU6F8LApfeGB_9heimJMVu4d5GAsd48E="
                    class="rounded-full w-32">

                <h1>Username: {{username}}</h1>
                <h1>Email: {{email}}</h1>
            </div>
        </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/javascript/dashboard.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>